* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid #ccc;
    background-color: #cbeaff;
    border-radius: 30px;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 100px;
    border: none;
    border-radius: 30px 30px 3px 3px;
    background-color: rgb(60, 200, 247);
    color: #fff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 88px;
    background-color: #fff;
    border-radius: 30px;
    border: 5px solid #bbe2fc;
    background-color: transparent;
    font-size: 2.5rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: rgb(0, 0, 131);
    border-color: blue;
    color: #fff;
}

.clear:hover {
    background-color: blue;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}